body {
	box-sizing: content-box;
	margin: 0px;
	padding: 0px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	top: 0px;
	width: 100%;
	background: rgba(255, 255, 255, 0.13);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	padding: 3px 40px;
	z-index: 55; /* higher than anything */
}

nav img {
	height: 60px;
}

.center-65 {
	width: 1300px;
	margin: auto;
}

.center-65v {
	width: 65vw;
	margin: auto;
}

.center-65perc {
	width: 65%;
	margin: auto;
}

.center-70perc {
	width: 70%;
	margin: auto;
}

.center-80perc {
	width: 80%;
	margin: auto;
}

.center-70 {
	width: 1400vw;
	margin: auto;
}

.horizontal-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.verical-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.container-flex-element {
	flex-grow: 1;
	flex-basis: 1px; /* makes width equal in a flex container */
	margin: 10px;
}

#nav-options {
	width: 60%;
	text-align: left;
}

#nav-options a {
	margin: 15px;
	color: rgb(32, 32, 32);
	text-decoration: none;
	transition: color 0.3s;
}

#nav-options a:hover {
	color: rgb(82, 82, 82);
}

#lang-select {
	color: rgb(54, 157, 189);
	font-size: 14px;
	padding: 4px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
}

#lang-select:focus {
	outline: none;
}

footer {
	width: auto;
	padding: 10px;
	background-color: rgb(37, 37, 37);
	color: rgb(141, 141, 141);
	font-size: 15px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p {
	margin: 10px;
}

footer a {
	color: inherit;
	transition: color 0.3s;
}

footer a:hover {
	color: rgb(85, 46, 175);
}

#under-construction {
	position: relative;
}

#under-construction p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0px;
	font-size: 25px;
}

.block-center {
	margin: auto;
	width: auto;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}
