body {
	box-sizing: content-box;
	margin: 0px;
	padding: 0px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	top: 0px;
	background: rgba(255, 255, 255, 0.13);
	width: 100%;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9px);
	-webkit-backdrop-filter: blur(9px);
	padding: 3px 0px;
	z-index: 55;
	/* higher than anything */
}

nav img {
	height: 60px;
}

.page-header {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 26px;
	letter-spacing: 2px;
	border-bottom: 1px solid black;
}

.center-65 {
	width: 1300px;
	margin: auto;
}

.center-65v {
	width: 65vw;
	margin: auto;
}

.center-65perc {
	width: 65%;
	margin: auto;
}

.center-70perc {
	width: 70%;
	margin: auto;
}

.center-70perc-dynamic {
	width: 70%;
	margin: auto;
}

.center-80perc {
	width: 80%;
	margin: auto;
}

.center-80perc-dynamic {
	width: 80%;
	margin: auto;
}

.center-70 {
	width: 1400vw;
	margin: auto;
}

.horizontal-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.verical-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.container-flex-element {
	flex-grow: 1;
	flex-basis: 1px;
	/* makes width equal in a flex container */
	margin: 10px;
}

#nav-options {
	width: 60%;
	text-align: left;
}

#nav-options a {
	margin: 15px;
	color: rgb(32, 32, 32);
	text-decoration: none;
	transition: color 0.3s;
}

#nav-options a:hover {
	color: rgb(82, 82, 82);
}

#lang-select {
	color: rgb(54, 157, 189);
	font-size: 14px;
	padding: 4px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
}

#lang-select:focus {
	outline: none;
}

footer {
	width: auto;
	padding: 10px;
	background-color: rgb(37, 37, 37);
	color: rgb(141, 141, 141);
	font-size: 15px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p {
	margin: 10px;
}

footer a {
	color: inherit;
	transition: color 0.3s;
}

footer a:hover {
	color: rgb(85, 46, 175);
}

#under-construction {
	position: relative;
}

#under-construction p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0px;
	font-size: 25px;
}

.block-center {
	margin: auto;
	width: auto;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.horizontal-swipe-container {
	/* background-color: yellow; */
	overflow: hidden;
	white-space: nowrap;
}

.horizontal-swipe-container:hover .prev-event-btn,
.horizontal-swipe-container:hover .next-event-btn {
	opacity: 100%;
}

.stripe3-swipe-subcontainer {
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	/* background-color: red; */
	transition: all 1.0s ease-in-out;
	width: 100%;
}

.event-box {
	background-color: blue;
	margin: 15px 0px;
	width: 21vw;
	height: 21vw;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0px 0px 12px 3px rgba(33, 52, 67, 0.15);
	-moz-box-shadow: 0px 0px 12px 3px rgba(33, 52, 67, 0.15);
	box-shadow: 0px 0px 12px 3px rgba(33, 52, 67, 0.15);
}

.event-box:last-child {
	margin-right: 0px;
}

.event-box img {
	width: 100%;
	height: 100%;
}

.blinder {
	width: inherit;
	height: inherit;
	background-color: rgba(253, 253, 253, 0.85);
	position: absolute;
	top: 0;
	left: 0;
	transition: background-color 0.5s;
}

.blinder:hover {
	background-color: rgba(253, 253, 253, 0.55);
}

.blinder:hover+.event-info-box {
	transform: translate(0, -50%);
}

.blinder:hover+.event-info-box>.event-info-box-info {
	color: black;
}

.event-info-box {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	white-space: initial;
	cursor: pointer;
	pointer-events: none;
	transition: all 0.25s;
}

.event-info-box-date {
	letter-spacing: 0.3vw;
	font-size: 0.6vw;
}

.event-info-box-header {
	font-size: 2vw;
	font-weight: normal;
}

.event-info-box-info {
	font-size: 1vw;
	color: rgba(0, 0, 0, 0);
	transition: color 0.2s ease-in-out;
}

.prev-event-btn,
.next-event-btn {
	user-select: none;
	cursor: pointer;
	margin: 0px 10px;
	width: 22px;
	opacity: 0%;
	transition: opacity 0.3s;
}

.prev-event-btn:hover,
.next-event-btn:hover {
	transform: scale(1.1, 1.1);
}

.prev-event-btn:active,
.next-event-btn:active {
	transform: scale(0.9, 0.9);
}

.page-event-header {
	color: rgb(83, 83, 83);
	text-align: left;
	font-size: 21px;
}

.page-event-img {
	width: 100%;
	margin: 10px 0;
}

.page-event-main-text {
	font-size: 18px;
	line-height: 170%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: rgb(88, 88, 88);
	word-wrap: break-word;
}

.return-home-a {
	font-size: 20px;
	color: rgb(41, 41, 41);
	display: inline-block;
	width: 100%;
	margin: 20px 5px;
	padding: 5px;
	text-align: center;
	background-color: rgb(246, 246, 246);
	border-radius: 3px;
	transition: all 0.2s;
}

.return-home-a:hover {
	background-color: rgb(240, 240, 240);
	transform: scale(98%)
}

@media screen and (max-width: 970px) {
	.horizontal-container {
		width: auto;
		flex-direction: column;
	}

	footer {
		font-size: 12px;
	}

	footer p {
		margin: 3px;
	}

	.event-box {
		height: 60vw;
	}

	.center-70perc-dynamic {
		width: 95%;
	}

	.center-80perc-dynamic {
		width: 95%;
	}
}