#dynamic-img-box {
	overflow: hidden;
	height: 65vh;
	position: relative;
}

#dynamic-img {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
}

#dynamic-img-box #center-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: rgb(255, 255, 255);
}

#dynamic-img-box #center-logo p {
	letter-spacing: 4px;
	font-size: 18px;
}

#center-logo img {
	width: 100%;
}

.section-box {
	background-color: white;
	min-height: 350px;
	overflow-y: hidden;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	font-size: 13px;
	letter-spacing: 2px;
	position: relative;
	transition: height 1.0s ease-in-out;
}

.section-box:nth-of-type(even) {
	background-color: rgb(247, 247, 247);
}

.paragraph-content {
	line-height: 220%;
	font-size: 17px;
}

#dynamic-paragraph {
	color: rgb(149, 132, 247);
	border-right: 5px solid rgb(149, 132, 247);
	height: fit-content;
	font-size: 35px;
	width: 100%;
	letter-spacing: 1px;
	font-weight: bold;
	overflow: hidden;
	line-height: 130%;
	z-index: 0;
}

#dynamic-paragraph p {
	margin: 0px;
	white-space: nowrap;
}

#dynamic-paragraph+p {
	font-size: 32px;
	line-height: 200%;
	margin: 10px 0px;
	letter-spacing: 0px;
	font-weight: lighter;
	font-family: Jost, sans-serif;
}

.more-btn {
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s;
	position: absolute;
	transform: translate(-50%, -50%);
	bottom: 10px;
	user-select: none;
	width: 20px;
	padding: 3px;
	opacity: 0%;
}

.more-btn:hover {
	background-color: rgba(226, 226, 226, 0.637);
	color: white;
}

.additional-info {
	display: none;
}

.additional-info p {
	text-align: left;
	font-size: 15px;
	line-height: 20px;
	tab-size: 4;
}

#aboutus-section:hover .more-btn {
	opacity: 100%;
}

@media screen and (max-width: 970px) {
	#dynamic-img {
		width: auto;
	}

	#dynamic-paragraph {
		margin: 0;
		font-size: 7vw;
	}

	.paragraph-content {
		line-height: 180%;
	}
}

@media screen and (max-width: 1500px) {
	.paragraph-content {
		line-height: 150%;
	}
}