#dynamic-img-box {
	overflow: hidden;
	height: 65vh;
	position: relative;
}

#dynamic-img {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
}

#dynamic-img-box #center-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: rgb(255, 255, 255);
}

#dynamic-img-box #center-logo p {
	letter-spacing: 4px;
	font-size: 18px;
}

#center-logo img {
	width: 100%;
}

.section-box {
	background-color: white;
	min-height: 400px;
	overflow-y: hidden;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	font-size: 13px;
	letter-spacing: 2px;
	position: relative;
	transition: height 1.0s ease-in-out;
}

.section-box:nth-of-type(even) {
	background-color: rgb(247, 247, 247);
}

.paragraph-content {
	line-height: 220%;
	font-size: 17px;
}

#dynamic-paragraph {
	color: rgb(149, 132, 247);
	height: fit-content;
	font-size: 46px;
	margin: 10px;
	letter-spacing: 1px;
	font-weight: bold;
	border-right: 5px solid rgb(209, 201, 255);
	padding-right: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}

#dynamic-paragraph p {
	margin: 0px 10px 50px 10px;
}

#dynamic-paragraph p:last-child {
	margin: 0px 10px 0px 10px;
}

.more-btn {
	font-size: 30px;
	background-color: rgba(184, 184, 184, 0.329);
	border-radius: 12px;
	cursor: pointer;
	transition: all 0.3s;
	position: absolute;
	bottom: 10px;
}

.more-btn:hover {
	background-color: rgba(105, 105, 105, 0.637);
	color: white;
}

.additional-info {
	display: none;
}

.additional-info p {
	text-align: left;
	font-size: 15px;
	line-height: 20px;
	tab-size: 4;
}